<!-- templates/portfolio/about.html -->
{% extends 'portfolio/base.html' %}
{% block content %}
<section id="about" class="about-section py-5" data-aos="fade-up">
    <div class="container text-center">
        <!-- Profile Image -->
        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" alt="Sudip Parajuli - Profile Picture" class="profile-img img-fluid rounded-circle shadow" loading="lazy">
        {% endif %}

        <!-- About Content -->
        <h2>About Me</h2>
        <p class="lead">{{ profile.summary }}</p>
    </div>
</section>
{% endblock %}